*{
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	
}
p {
	color: black;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    text-indent:2em
}

li {
	font-size: 24px;
	text-align: justify;
	font-family: helvetica;
	margin-left: 10%;
    margin-right: 10%;
    text-indent:2em
}

h1 {
	clear: both;
	color: black;
	text-align: center;
}

h3 {
	clear: both;
	color: black;
	text-align: center;
}

header{
	background-color: SteelBlue;
	height: 120px;
	padding: 20px;
	text-align: center;
}

body{
	background-color: Khaki;
	text-align: center;
	width: 100%;
}

footer{
	clear: both;
	background-color: SteelBlue;
	height: 32px;
	text-align: center;
	padding: 10px ;
}

.container{
	clear: both;
	width: 0 auto;
	margin: 0 auto;
}
.conteudo{
	background-image: url(https://get.wallhere.com/photo/1920x1200-px-abstract-birds-color-drawing-fantasy-fi-field-landscapes-rocket-SC-umbrella-1495733.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
}

#logo{
	clear: both;
	float: left;
}

#menu{
	float: right;
	margin-top: 30px;
	font-size: 20px;
}

#menu a{
	padding: 88px 25px;
	text-decoration: none;
	color: Khaki;
}

#menu a:hover{
	background-color: Khaki;
	color: SteelBlue;
}

.banner{
	clear: both;
	float: center;
	background-size: cover;
	width: 100%;
    height: 320px;
}

#sobre{
	clear: both;
	text-align: center;
	padding: 80px 0px;
	width: 100%;
    height: 390px;
}
#hobbies{
	clear: both;
	text-align: center;
	padding: 80px 0px;
	width: 100%;
    height: 200px;
}

#hobbies img{
	border: 3px solid black;
    border-radius: 100px;
    margin: 25px;
    padding: 5px;
    height: 80px;
    width: 80px;
    clear: both;
}
#contato{
	clear: both;
	text-align: center;
	padding: 80px 0px;
	width: 100%;
    height: 100px;
}

.insta{
	margin: 100px;
}

.wapp{
	margin: 100px;
}

.mail{
	margin: 100px;
}